
footer,
section,
.section {
  position: relative;
  width: 100%;
  display: block;
  z-index: $z-low;

  &.bg-shade-1 {
    background-color: $white-0;
  }

  &.bg-shade-2 {
    background-color: $white-1;
  }

  &.bg-shade-3 {
    background-color: $royal;

    ::selection {
    	color: $royal;
    	background-color: $white-0;
    }
    ::-moz-selection {
      color: $royal;
    	background-color: $white-0;
    }
  }

  &.bg-shade-0 {
    background-color: $dark-0;
  }

  &.bg-shade-0,
  &.bg-shade-3 {
    h1,
    h2,
    h3,
    p,
    span {
      color: white;
      opacity: 1;
    }
  }

  &.has-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("../assets/img/schuheinlage.svg");
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: .1;
    z-index: -1;
  }

  .container {

    .row:nth-of-type(2) {
      padding-top: 3rem;
    }
  }

	// &:last-of-type {
	// 	margin-bottom: 3em;
	// }

  .mobile-center-content {

    @media screen and (max-width: $break-large) {
      text-align: center;

      .super-line::after {
        left: 50%;
        transform: translateX(-50%);
      }

      .pre-wrapper {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  .pre-wrapper {
    display: flex;
    max-width: 20em;
    font-weight: bold;

    .pre-right {
      margin-left: auto;
    }

    &:first-of-type {
      margin-top: 1.5em;
    }
  }
}

footer {
  padding-top: 1em;
  padding-bottom: 6em;

  #footer-top {

    #footer-nav {
      margin-top: 1.5em;

      li {
        margin-bottom: 1em;

        &:last-child {
          margin-bottom: 0 ;
        }
      }
    }
  }

  #footer-bottom {
    margin-top: 7em;

    #social-media-icons {

      li {
        margin-right: 2em;
        font-size: 1.4em;

        @media screen and (max-width: $break-large) {
          margin-right: 0;
        }
      }

      @media screen and (max-width: $break-large) {
        justify-content: space-around;
      }
    }

    #formal-stuff {

      li {

        &:first-child  {
          margin-right: auto;
        }

        &:not(:first-child)  {
          margin-left: 1em;

          @media screen and (max-width: $break-large) {
            margin: .5em auto;
          }
        }

        @media screen and (max-width: $break-large) {
          margin: .5em auto;
        }
      }

      @media screen and (max-width: $break-large) {
        flex-direction: column;
        margin-top: 3em;
      }
    }

    @media screen and (max-width: $break-large) {
      margin-top: 4em;
    }
  }

  @media screen and (max-width: $break-large) {
    text-align: center;
  }
}
