section {
  padding: 6rem 0;

  &.has-divider {
    padding: 0;

    .container {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    .divider svg {
      position: relative;
      top: 1px;
      height: 6vw;
      background: 0 0 !important;
    }
  }
}
