.image-wrapper {
  position: relative;
  overflow: hidden;
  max-height: 30em;
  border-radius: $border-radius;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  // transform: scale(.9);

  img {
    height: 30em;

    &.too-big {
      transform: translate(-19%, 15%) scale(0.7);
    }
  }

  &.image-small {
    transform: scale(.7);
  }

  &.image-high {
    height: 45em;
    max-height: 45em;

    img {
      position: absolute;
      bottom: 0;
      height: auto;
    }
  }

  @media screen and (max-width: $break-medium) {
    &.low {
      img {
        &.too-big {
          transform: translate(0, 0) scale(1);
        }
      }
    }
  }

  @media screen and (min-width: $break-medium) {
    &.low {
      height: 18.75em;
      max-height: 18.75em;
      margin-top: 11.25em;

      img {
        position: absolute;
        top: -50%;
        left: 0;

        &.too-big {
          transform: translate(-19%, 15%) scale(0.7);
        }
      }
    }
  }
}
