/*** Header Styles ***/
header {
	display: flex;
	margin-bottom: 6em;

	&.header-full {
		@include object(100vw, 100vh, $header-bg);
		background-size: cover;
		background-position: center 80%;
		background-attachment: fixed;
		margin-bottom: 0;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 100%;
		}
	}

  /*** Navigation Styles ***/
  nav {
    @include object(100vw, $navbar-height-default, $nav-bg);
    // height: $navbar-height-start;
    display: flex;
    position: fixed;
    z-index: $z-nav;
    transition: all 0.3s;

    &.navShadow {
      box-shadow: 0 4px 30px -5px rgba(#000, 0.2);
      height: $navbar-height-scroll;
			+ #hero-section { margin-top: $navbar-height-scroll; }
			#menu ul {
				@media screen and (max-width: $break-large) {
      		top: $navbar-height-scroll-sm;
        }
			}

			&.scrollToAppear {
				top: -$navbar-height-scroll;
				+ #hero-section { margin-top: 0; }
			}

			#word-mark {
        opacity: 0;
      }
    }


    #brand,
    #menu,
    ul {
      display: flex;
      align-items: center;
    }

    #brand {
      padding-left: 40px;

      #logo {
        @include object(55px,55px,$accent);
        border-radius: 50%;
        cursor: pointer;

        img {
          width: 100%;
        }
      }

			@media screen and (max-width: $break-large) {
				padding-left: 20px;
			}
    }

    /*** Menu Styles ***/
    #menu {
      justify-content: flex-end;
      padding-right: 40px;
      margin-left: auto;

      #menu-toggle {
        @include object(55px, 55px, $pink);
        @include center;
        border-radius: 50%;
        cursor: pointer;
        display: none;


        .bar {
          @include object(25px, .15em, $accent);
          transition: 0.3s ease-in-out;

          &:nth-child(2) {
            width: 1.25em;
            margin: 5px 0;
          }

          &:last-child {
            width: 1em;
          }
        }

        &:hover {
          .bar {
            width: 25px;
          }
        }

        &.closeMenu {
          .bar {
            width: 25px;

            &:first-child {
              transform: translateY(5.5px) rotate(45deg);
            }

            &:nth-child(2) {
              transform: scale(0);
            }

            &:last-child {
              transform: translateY(-8px) rotate(-45deg);
            }
          }
        }

        @media screen and (max-width: $break-c) {
      		display: flex;
        }
				@media screen and (max-width: $break-large) {
      		transform: scale(.8);
        }
      }

      ul {

        li {
          margin-left: 0.8em;

          a {
            display: block;
            padding: .5em .5em;
            color: $color-text;
            border-bottom: 2px solid transparent;
            transition: .2s ease-in-out;

						&.has-button {
							padding: 0;
							border: none;
						}

						&.btn-outline {
							@media screen and (max-width: $break-c) {
								margin-top: .75em;
							}
						}

            &.active,
            &:hover,
            &:active,
            &:focus {
              text-decoration: none;
              border-bottom-color: $pink;
            }

            @media screen and (max-width: $break-c) {
              position: relative;
              top: 50%;
              transform: translateY(-50%);
              display: inline-block;
              margin: 0;
              padding: 1.5em 1em;
            }
          }

          &.active,
          &:hover,
          &:active,
          &:focus {

            a {
              text-decoration: none;
              border-bottom-color: $pink;
            }
          }

          @media screen and (max-width: $break-c) {
            @include object(null, null, null);
            margin: 0;
            text-align: center;
        		opacity: 0;
        		visibility: hidden;
        		transition: all 0.3s 0.1s;

            &:first-child {
              margin-top: 2em;
            }
          }

					// @media screen and (max-width: $break-small) {
					// 	&:first-child {
          //     margin-top: 1em;
          //   }
	        // }

					@media screen and (max-width: $break-c) {
						&:last-child {
							margin-top: 1.25em;
						}
					}
        }

				@media screen and (max-width: $break-c) {
      		display: flex;
          flex-direction: column;
      		@include object(100vw, 0, $white-1);
      		@include transPos($navbar-height-default, 0, null, null, null, null);
      		transition: all 0.3s;

      		&.showMenu {
      			height: 100vh;

      			li {
      				opacity: 1;
      				visibility: visible;
      			}
      		}
        }

				@media screen and (max-width: $break-large) {
      		top: $navbar-height-default-sm;
        }
    	}

			@media screen and (max-width: $break-large) {
				padding-right: 20px;
			}
    }

		@media screen and (max-width: $break-large) {
			height: $navbar-height-default-sm;

			&.navShadow {
	      height: $navbar-height-scroll-sm;
	    }
		}
  }

  /*** Hero Section Styles ***/
  #hero-section {
		@include center;
		width: 100vw;
		height: auto;
		margin-top: $navbar-height-default;


		#head-line {
			color: white;
			margin-top: -2em;

			h1::after {

				@media screen and (max-width: $break-large) {
					left: 50%;
					transform: translateX(-50%);
				}
			}

			@media screen and (max-width: $break-large) {
				text-align: center;
			}
		}

		@media screen and (max-width: $break-large) {
			margin-top: $navbar-height-default-sm;
		}
  }

}
