.flip-x {
  transform: scaleX(-1);
}
.flip-y {
  transform: scaleY(-1);
}

// BUTTON
.btn-fill,
.btn-outline {
  padding: 12px 24px;
  border: 1px solid transparent;
  border-color: $color-text;
  border-radius: $border-radius * 6;

  @media screen and (max-width: $break-small) {
    padding: 0.8em 1.5em;
  }
}

p {
  & + a > .btn-fill,
  & + a > .btn-outline {
    margin-top: 1.5em;
  }
}

.btn-fill {
  color: $white-0;
  background-color: $dark-0;

  &:hover {
    background-color: lighten($dark-0, 2);
  }

  &.btn-pink {
    color: $white-0;
    border-color: $pink;
    background-color: $pink;

    &:hover {
      background-color: darken($pink, 2);
    }
  }

  &.btn-white {
    color: $color-text;
    border-color: $white-0;
    background-color: $white-0;

    &:hover {
      background-color: darken($white-0, 2);
    }
  }

  &.btn-royal {
    color: $white-0;
    border-color: $royal;
    background-color: $royal;

    &:hover {
      background-color: darken($royal, 2);
    }
  }
}

.btn-outline {
  color: $color-text;
  background-color: transparent;

  &:hover {
    color: $white-0;
    background-color: $color-text;
  }

  &.btn-pink {
    color: $pink;
    border-color: $pink;

    &:hover {
      color: $white-0;
      background-color: $pink;
    }
  }

  &.btn-white {
    color: $white-0;
    border-color: $white-0;

    &:hover {
      color: $color-text;
      background-color: $white-0;
    }
  }

  &.btn-royal {
    color: $royal;
    border-color: $royal;

    &:hover {
      color: $white-0;
      background-color: $royal;
    }
  }
}

.infosection {
  position: fixed;
  bottom: 3em;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  width: 66.6%;
  max-width: 675px;
  color: white;
  background: $pink;
  border-radius: 3em;
  -webkit-box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  box-shadow: 0 4px 10px rgba(50,50,93,.51),0 1px 3px rgba(0,0,0,.08);
  z-index: $z-nav;

  p {
    margin: 0;
    padding: 1em 2.5em;
    padding-right: 0;
    color: inherit;
    font-style: italic;

    a {
      color: inherit;
      text-decoration: underline;

      &:hover {
        opacity: .8;
      }
    }

    @media screen and (max-width: $break-small) {
      padding: 0.75em 1.5em;
      padding-right: 0;
    }

  }

  // http://www.amp-what.com/unicode/search/x
  i {
    padding: 1em 2em;
    cursor: pointer;

    @media screen and (max-width: $break-small) {
      padding: 1em 1.5em;
    }
  }

  @media screen and (max-width: $break-small) {
    width: 90%;
    border-radius: 1em;
  }
  @media screen and (max-width: $break-medium) {
    width: 80%;
  }
}

.tile-sm {
  margin-top: 1.8em;

  @media screen and (max-width: $break-b) {
    margin-top: 3em;
  }
}

.tile-wrapper {
  position: relative;
  overflow: hidden;
  display: flex;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  padding: 2.5em;
  border: 3px solid $white-1;
  border-radius: $border-radius * 3;

  &.highlight,
  &:hover {
    color: $royal;
    border-color: $royal;
    text-decoration: none;

  }

  &:focus {
    outline: 0;
    border-color: $royal;
    color: $royal;
    // box-shadow: 0 0 0 5px transparentize($color-secondary, .80);
  }

  h3 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 1em;
    margin-left: auto;
    background: transparentize($white-0, .2);
    padding: .25em;
    border-radius: $border-radius;
    z-index: 1;
  }

  img {
    position: absolute;
    top: 15%;
    left: 0;
    height: 100%;
  }
}

// TWITTER HEART
.heart {
  width: 100px;
  height: 100px;
  background: url("https://cssanimation.rocks/images/posts/steps/heart.png") no-repeat;
  background-position: 0 0;
  cursor: pointer;
  transition: background-position 1s steps(28);
  transition-duration: 0s;

  &.super-heart {
    position: absolute;
    top: -0.25em;
    margin: 0 -3em;
    transform: scale(0.4);
    display: inline-block;

    @media screen and (min-width: $break-small) {
      top: 0.95em;
      margin: 0px -2em;
      transform: scale(0.6);
    }

    @media screen and (min-width: $break-large) {
      top: -2.5em;
      margin: 0 -1.8em;
      transform: scale(0.7);
    }

  }

  &.is-active {
    transition-duration: 1s;
    background-position: -2800px 0;
  }
}

// Social Media Icon
.social-media-icon {
  padding: 0.5em;
  margin-top: -0.5em;
  margin-left: -0.5em;
  cursor: pointer;

  &:hover {
    color: $royal;
  }
}
